/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../Installers/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Installers/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Installers/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Installers/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Installers/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Installers/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Installers/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Installers/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Installers/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
.divider {
  height: 20px;
  background-color: #e80400;
  z-index: -1;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid #aaaaaa;
  border-right: 1px solid #aaaaaa;
}

/* line 18, ../sass/screen.scss */
.home-content {
  float: left;
  background-color: #eee;
  border-radius: 10px;
  padding: 15px;
  width: 400px;
  border: 1px solid #aaaaaa;
  margin: 25px 25px 25px;
}

/* line 28, ../sass/screen.scss */
.clear {
  clear: both;
}

/* line 32, ../sass/screen.scss */
a {
  color: #7a7a7a;
}

/* line 36, ../sass/screen.scss */
a:link {
  text-decoration: none;
}

/* line 40, ../sass/screen.scss */
a:hover {
  color: #ffd;
}

/* line 44, ../sass/screen.scss */
a:active {
  text-decoration: underline;
}

/* line 48, ../sass/screen.scss */
html {
  width: 100%;
  display: block;
  background-color: #f2f0ee;
  background-image: url("../assets/images/bg_test2.png");
  background-repeat: no-repeat;
}
/* line 55, ../sass/screen.scss */
html body {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
/* line 60, ../sass/screen.scss */
html body #header {
  margin-top: 10px;
}
/* line 63, ../sass/screen.scss */
html body #header img {
  position: relative;
  float: left;
  top: 25px;
  z-index: 5;
}
/* line 70, ../sass/screen.scss */
html body #header #title {
  position: relative;
  height: 60px;
  background-color: #bbbbbb;
  -moz-border-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
/* line 78, ../sass/screen.scss */
html body #header #title p {
  position: absolute;
  font-size: 60px;
  left: 95px;
  top: 8px;
}
/* line 87, ../sass/screen.scss */
html body #header #nav ul {
  position: relative;
  float: right;
  list-style-type: none;
  display: inline;
  margin-top: -25px;
  padding: 0;
}
/* line 95, ../sass/screen.scss */
html body #header #nav ul li {
  display: inline-block;
  padding: 5px;
  margin-right: 20px;
  font-size: 1em;
  font-weight: bold;
}
/* line 105, ../sass/screen.scss */
html body #header #top-div {
  position: relative;
}
/* line 108, ../sass/screen.scss */
html body #header #top-div p {
  position: absolute;
  left: 135px;
  top: 3px;
  text-decoration: bold;
  font-size: .95em;
}
/* line 118, ../sass/screen.scss */
html body #footer {
  margin-bottom: 10px;
  background-clip: content-box;
}
/* line 122, ../sass/screen.scss */
html body #footer #foot-container {
  background-color: #bbbbbb;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  -moz-border-radius: 15px;
  height: 260px;
  color: #7a7a7a;
}
/* line 130, ../sass/screen.scss */
html body #footer #foot-container #foot-left {
  float: left;
  width: 300px;
  height: 260px;
}
/* line 135, ../sass/screen.scss */
html body #footer #foot-container #foot-left #contact {
  position: relative;
  left: 35px;
  top: 50px;
}
/* line 140, ../sass/screen.scss */
html body #footer #foot-container #foot-left #contact h3 {
  font-size: 1.5em;
  font-weight: bold;
}
/* line 145, ../sass/screen.scss */
html body #footer #foot-container #foot-left #contact a {
  font-size: .9em;
}
/* line 150, ../sass/screen.scss */
html body #footer #foot-container #foot-left #address {
  position: relative;
  left: 35px;
  top: 30px;
  display: block;
}
/* line 156, ../sass/screen.scss */
html body #footer #foot-container #foot-left #address h1 {
  font-size: 1.5em;
  margin: 10px 0px;
  font-weight: bold;
}
/* line 162, ../sass/screen.scss */
html body #footer #foot-container #foot-left #address p {
  font-size: .75em;
}
/* line 168, ../sass/screen.scss */
html body #footer #foot-container #foot-center {
  position: relative;
  background-image: url("../assets/images/glow2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  height: 260px;
  width: 400px;
  float: left;
}
/* line 178, ../sass/screen.scss */
html body #footer #foot-container #foot-center #victory {
  position: relative;
  left: 125px;
  top: 20px;
  width: 150px;
  height: 150px;
}
/* line 185, ../sass/screen.scss */
html body #footer #foot-container #foot-center #victory img {
  width: 150px;
}
/* line 190, ../sass/screen.scss */
html body #footer #foot-container #foot-center #maguilla {
  position: relative;
  width: 60px;
  height: 60px;
  left: 75px;
  top: 27px;
}
/* line 197, ../sass/screen.scss */
html body #footer #foot-container #foot-center #maguilla img {
  width: 60px;
}
/* line 202, ../sass/screen.scss */
html body #footer #foot-container #foot-center #fr {
  position: relative;
  width: 25%;
  left: 150px;
  bottom: 25px;
}
/* line 208, ../sass/screen.scss */
html body #footer #foot-container #foot-center #fr img {
  width: 100%;
}
/* line 213, ../sass/screen.scss */
html body #footer #foot-container #foot-center #pilsung {
  position: relative;
  width: 60px;
  height: 60px;
  left: 265px;
  top: -82px;
}
/* line 220, ../sass/screen.scss */
html body #footer #foot-container #foot-center #pilsung img {
  width: 60px;
}
/* line 226, ../sass/screen.scss */
html body #footer #foot-container #foot-right {
  float: right;
  width: 300px;
  height: 260px;
}
/* line 231, ../sass/screen.scss */
html body #footer #foot-container #foot-right #sitemap {
  position: relative;
  list-style-type: none;
  top: 50px;
  right: 13px;
}
/* line 237, ../sass/screen.scss */
html body #footer #foot-container #foot-right #sitemap ul {
  text-align: right;
}
/* line 240, ../sass/screen.scss */
html body #footer #foot-container #foot-right #sitemap ul li {
  padding: 5px;
  margin-right: 30px;
  font-size: .8em;
  font-weight: bold;
}

/* line 255, ../sass/screen.scss */
#main {
  border-right: solid 1px #aaaaaa;
  border-left: solid 1px #aaaaaa;
  background-color: #fff;
}
/* line 264, ../sass/screen.scss */
#main #content {
  margin: 0 auto;
  padding: 10px;
}
