/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../Installers/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Installers/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Installers/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Installers/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Installers/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Installers/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Installers/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Installers/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Installers/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
.divider {
  height: 20px;
  background-color: #e80400;
  z-index: -1;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid #aaaaaa;
  border-right: 1px solid #aaaaaa;
}

/* line 18, ../sass/screen.scss */
.home-content {
  background-color: #d5d0cc;
  border-radius: 10px;
  border-radius: 10px;
  padding: 15px;
  width: 45%;
  border: 1px solid #aaaaaa;
}

/* line 27, ../sass/screen.scss */
html {
  width: 100%;
  display: block;
  background-color: #f2f0ee;
  background-image: url("../assets/images/bg_test2.png");
  background-repeat: no-repeat;
}
/* line 34, ../sass/screen.scss */
html body {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
/* line 39, ../sass/screen.scss */
html body #header {
  margin-top: 10px;
}
/* line 42, ../sass/screen.scss */
html body #header img {
  position: relative;
  float: left;
  top: 25px;
  z-index: 5;
}
/* line 49, ../sass/screen.scss */
html body #header #title {
  position: relative;
  height: 60px;
  background-color: #d5d0cc;
  -moz-border-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
/* line 57, ../sass/screen.scss */
html body #header #title p {
  position: absolute;
  font-size: 60px;
  left: 95px;
  top: 8px;
}
/* line 66, ../sass/screen.scss */
html body #header #nav ul {
  position: relative;
  float: right;
  list-style-type: none;
  display: inline;
  margin-top: -25px;
  padding: 0;
}
/* line 74, ../sass/screen.scss */
html body #header #nav ul li {
  display: inline-block;
  padding: 5px;
  margin-right: 20px;
  font-size: 1em;
  font-weight: bold;
}
/* line 81, ../sass/screen.scss */
html body #header #nav ul li a {
  color: #111;
}
/* line 84, ../sass/screen.scss */
html body #header #nav ul li a:link {
  text-decoration: none;
}
/* line 88, ../sass/screen.scss */
html body #header #nav ul li a:hover {
  text-decoration: underline;
  color: #ffd;
}
/* line 93, ../sass/screen.scss */
html body #header #nav ul li a:active {
  text-decoration: underline;
}
/* line 100, ../sass/screen.scss */
html body #header #top-div {
  position: relative;
}
/* line 104, ../sass/screen.scss */
html body #header #top-div p {
  position: absolute;
  left: 135px;
  top: 3px;
  text-decoration: bold;
  font-size: .95em;
}
/* line 116, ../sass/screen.scss */
html body #footer {
  background-color: #d5d0cc;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 260px;
  margin-bottom: 20px;
}

/* line 128, ../sass/screen.scss */
#main {
  border-right: solid 1px #aaaaaa;
  border-left: solid 1px #aaaaaa;
  background-color: #fff;
}
/* line 137, ../sass/screen.scss */
#main #content {
  margin: 0 auto;
  padding: 10px;
}
